@font-face {
	font-family: 'Digital Dismay';
	src: url('../public/fonts/Digital Dismay.otf') format('opentype')
}

:root{
  --monday: #121a73;
  --tuesday: #75ddef;
  --wednesday: #146625;
  --thursday: #981010;
  --friday: #d97116;
  --saturday: #353535;
  --sunday: #411111;
}


body{
  background-color: #f2e8cf;
  background-color: #101010;

  color: #43291f;
  color: #f2e8cf;
}