@font-face {
	font-family: 'Digital Dismay';
	src: url('../public/fonts/Digital Dismay.otf') format('opentype')
}


body{
  background-color: #f2e8cf;
  background-color: #101010;

  color: #43291f;
  color: #f2e8cf;
}