.wrapper{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 80px;
}

.wrapper h1{
  font-size: 4rem;
  line-height: 1.15;
}

.wrapper h2{
  font-size: 2.5rem;
  line-height: 1.25;
}

.page{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 4em;
}

@media(max-width: 500px){
  .wrapper{
    padding: 40px;
  }

  .page{
    margin-top: 30px;
    gap: 40px;
  }
}


